.card{
    width: 400px;
    padding: 20px;
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-top: 20px;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);

}
.tinderCard_container{
    display: flex;
    justify-content: center;
    
}

.swipe{
    position: absolute;
}
.swipe h3{
    position: absolute;
    bottom: 0px;
    margin: 10px;
}